# Tuple (Imutabe)

In [1]:
marks=(2,3,4,5,6,True,"Dildar",[1,2,3],(2,3,4),{"Name":"Dildar Ali"})

In [2]:
marks[4]

6

In [3]:
marks[6][2]

'l'

In [4]:
marks[9]["Name"]

'Dildar Ali'

In [7]:
marks[9]["Name"]="Ali"

In [8]:
marks[9]["Name"]

'Ali'

In [5]:
marks[:]

(2, 3, 4, 5, 6, True, 'Dildar', [1, 2, 3], (2, 3, 4), {'Name': 'Dildar Ali'})

In [6]:
marks[0]=3

TypeError: 'tuple' object does not support item assignment

In [9]:
marks.count(2)

1

In [14]:
marks.index(True)

5

In [15]:
my_set={}
type(my_set)

dict

In [16]:
my_set={2,3}
type(my_set)

set

In [17]:
my_set={1,1,2,2,3,3,3,4,4,4,4,4,5,5,5,5,5}
my_set

{1, 2, 3, 4, 5}

In [20]:
alist=[11,22,33,44,22,33,55]
new_list=[]
for a in alist:
    if a not in new_list:
        new_list.append(a)
print(new_list)

[11, 22, 33, 44, 55]

In [21]:
alist

[11, 22, 33, 44, 22, 33, 55]

In [26]:
alist=list(set(alist)
print(alist)

SyntaxError: invalid syntax (Temp/ipykernel_7680/239263759.py, line 2)

In [28]:
my_set

{1, 2, 3, 4, 5}

In [29]:
my_set.add(200)

In [30]:
my_set

{1, 2, 3, 4, 5, 200}

In [31]:
my_set.discard(200)        #not returns error
my_set

{1, 2, 3, 4, 5}

In [32]:
my_set={0,1,2,3,4}
new_set={1,2,4}
my_set.intersection(new_set)

{1, 2, 4}

In [33]:
my_set.clear()
my_set

set()

In [34]:
my_set={2,3,4,5,6,7}
new_set={2,4,6}
my_set.difference(new_set)

{3, 5, 7}

In [37]:
my_set={2,3,4,5,6,7}
new_set={2,4,6}

In [38]:
my_set

{2, 3, 4, 5, 6, 7}

In [39]:
new_set

{2, 4, 6}

In [41]:
my_set.difference_update(new_set)
my_set

{3, 5, 7}

In [44]:
my_set={0,1,2,3,5}
my_set.intersection_update()

In [45]:
my_set

{0, 1, 2, 3, 5}

In [47]:
new_set={4,6,8,9,10}
my_set.isdisjoint(new_set)

True

In [48]:
my_set.issubset(new_set)

False

In [49]:
my_set={0,1,2}
new_set={0,1,2}
my_set.issubset(new_set)

True

In [50]:
my_set={2,3,4,5}
my_set.issuperset(new_set)

False

In [51]:
my_set.pop()

2

In [52]:
my_set

{3, 4, 5}

In [53]:
my_set.remove(4)

In [54]:
my_set

{3, 5}

In [60]:
my_set={1,2,3,4,5}
new_set={2,3,5,6}
my_set.symmetric_difference(new_set)

{1, 4, 6}

In [61]:
my_set={1,2,3,4,5}
new_set={2,3,5,6}
my_set.symmetric_difference_update(new_set)

In [62]:
my_set

{1, 4, 6}

In [63]:
my_set={1,2,3,4,5}
new_set={2,3,5,6}
my_set.union(new_set)

{1, 2, 3, 4, 5, 6}

In [67]:
my_set={1,2,3,4,5}
new_set={2,3,5,6,7,8}
my_set.update(new_set)

In [68]:
my_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [69]:
new_set=my_set.copy()
new_set

{1, 2, 3, 4, 5, 6, 7, 8}

In [70]:
my_set.add(1860)
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 1860}

# Functions
* built_in_dunctions
* user_defined_functions

In [71]:
#Function defination

def mean(arr):#Parameter         #multiple values ayengi array k shakal m
    total=0
    for a in arr:
        total += a
    return total/len(arr)

In [72]:
#Call
mean([1,2,3,4,5,6,7,8,9]) #argument

5.0

In [73]:
mean([2,3,4,5,6,77,88])

26.428571428571427

In [2]:
#define
def say_hello():
    
    print("Hello Freinds")
#Parameterless function

In [6]:
#call
say_hello()

Hello Freinds

In [4]:
def a():
    print("Hi Dildar")

In [7]:
a()

Hi Dildar

In [16]:
def say_salam(name):
    print(f"Assalam.o.Alaikum Mr.{name}")
#Parametrised function

In [17]:
say_salam()

TypeError: say_salam() missing 1 required positional argument: 'name'

In [18]:
say_salam("Dildar")

Assalam.o.Alaikum Mr.Dildar

In [19]:
say_salam("Kazim")

Assalam.o.Alaikum Mr.Kazim

In [20]:
say_salam("Bilal")

Assalam.o.Alaikum Mr.Bilal

In [25]:
def lower_text(para):
    print(para.lower())

In [26]:
lower_text("DILDAR")

dildar

In [105]:
def count_chr(character):
    a=len(character)
    print(f"There are {a} characters in your paragraph.")

In [106]:
count_chr("Hello all dear....")

There are 18 characters in your paragraph.

In [107]:
def count_word(word):
    a=word.split(' ')
    print(f"There are {len(a)} words in your paragraph.")

In [101]:
count_word("Alhadulillah for Everything!")

There are 3 words in your paragraph.

In [115]:
def count_sentence(sentence):
    a=sentence.split(". ")
    print(f"There are {len(a)} sentences in your paragraph.")

In [116]:
count_sentence("Hello dear. My name is Dildar Ali. I'm student of AI & Ds.")

There are 3 sentences in your paragraph.

In [ ]:
def count_chr(character):
    a=len(character)
    print(f"There are {a} characters in your paragraph.")